 <tbody>
    <% @booking.each do |booking| %>
      <tr>
        <td><%= booking.start_time %></td>
        <td><%= booking.end_time %></td>
        <td><%= link_to 'Show', booking %></td>
      </tr>
    <% end %>
  </tbody>
</table>
