
<h2>You are confirmed! </h2>
<h1>You booked from <%= @booking.start_time %></h1>
<h1>to <%= @booking.end_time %> and you will charged </h1>
<h1><%= @booking.total_price %></h1>
<%= link_to "Go to the home page", root_path, class: "btn btn-success" %>
