<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Instrushare</title>
  <link rel="stylesheet" href=""
</head>
<body>
  <div class="banner">
    <div class="container">
      <h1>InstruShare helps you to find a music wherever you are!</h1>
      <p>Join us, make word full of music!</p>
    </div>
  </div>

</body>
</html>
