<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Instrushare</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <div class="banner">
    <div class="container">
      <h1>InstruShare helps you to find a music wherever you are!</h1>
      <p>Join us, make word full of music!</p>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center"> What you can do? </h2>
    <div class="cards">

      <%= link_to instruments_path do %>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1588161543631-89e74f5b2c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
          <h4>Would you like to rent insturment while you are not home?</h4>
          <p>See insturments and choose which one you would like to rent</p>
        </div>
      <% end %>

      <%= link_to new_instrument_path do %>
        <div class="card">
          <img src="https://images.unsplash.com/photo-1594047778596-dc787006f43b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
          <h4>Do you have an insturment that you can share with strangers?</h4>
          <p>Go anc create a announcement for your instrument</p>
        </div>
      <% end %>
    </div>
  </div>

<div id="slider-wrapper">
    <div class="slider">
        <a class="img-bir">
            <img src="https://images.unsplash.com/photo-1588161543631-89e74f5b2c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            <span>Rent a instrument whenever you are and enjoy with yourself!</span>
         </a>
        <a class="img-iki">
                <img src="https://images.unsplash.com/photo-1588161543631-89e74f5b2c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            <span>Put your instrument and make some money!</span>
        </a>
        <a class="img-uc">
            <img src="https://images.unsplash.com/photo-1588161543631-89e74f5b2c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            <span>Diffirent cities, diffirent instruments</span>
        </a>
        <a class="img-dort">
            <img src="https://images.unsplash.com/photo-1588161543631-89e74f5b2c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            <span>Dont forget about social distance</span>
        </a>
        <a class="img-bes">
            <img src="https://images.unsplash.com/photo-1588161543631-89e74f5b2c42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            <span>Dont know</span>
        </a>
     </div>
</div>

</div>
</body>
</html>
