<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Instrushare</title>
  <link rel="stylesheet" href="https://i.hizliresim.com/n0fVO5.png">
</head>
<body>
  <div class="banner">
    <div class="container">
      <h1>InstruShare helps you to find a music wherever you are!</h1>
      <p>Join us, make word full of music!</p>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center">How it works</h2>
   <div class="cards">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1511379938547-c1f69419868d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
      <h4>What are we doing?</h4>
      <p>Loremimpusnjmksl</p>
    </div>
    <div class="card">
      <img src="https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
      <h4>How can you rent a instrumant</h4>
      <p>Lornkjakmsldö</p>
    </div>
  </div>
</div>

</body>
</html>
